.navBar {
    list-style: none;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: end;
    gap: 30px;
    padding-left: 20px;
    padding-right: 80px;
    height: 50px;
    align-items: center;
    font-size: 20px;
}

