.backgroundImage {
    width: 100%;
}

 .Intro {
    color: white;
    position: absolute;
    top: 180px;
    width: 100%;
    left: 0;
    text-align: center;
 }

 .divider {
    height: 500px;
    background: #222021;
    margin-top: -12px;
    position: relative;
    z-index: 2;
 }

 .imagesBox {
   gap: 20px;
   display: flex;
   justify-content: center;
   position: absolute;
   left: 40px;
   right: 40px;
   height: auto;
   transform: translateY(-50%);
 }

 .infoBox {
    position: absolute;
    height: 330px;
    left: 50px;
    right: 50px;
    background: white;
    bottom: 0;
    transform: translateY(50%);
    border: 1px solid;
    padding: 20px
 }

 .textFloating {
   width: 100%;
   height: 500px;
   background: #9C27B0;
   padding: 20px;
   min-width: 150px;
 }

 .textFloating2 {
   background: #9C27B0;
   padding: 20px;
   grid-area: header
 }


 .textImageWrap {
   position: absolute;
    left: 50px;
    right: 50px;
    top: 300px;
    padding: 20px;
    display: flex;
    gap: 40px;
    background: #222021ba;
    box-shadow: 5px 5px 11px #222021;
    border-radius: 5px;
 }

 .textImageWrap2 {
   position: absolute;
    left: 50px;
    right: 50px;
    top: 380px;
    padding: 20px;
    display: flex;
    gap: 40px;
    background: #222021ba;
    box-shadow: 5px 5px 11px #222021;
    border-radius: 5px;
 }

 .imageRightText {
   width: 60%;
    background: #673AB7;
    max-width: 500px;
    margin-left: auto;
 }

 .leftImage {
    width: 100%;
    background: #673AB7;
    grid-area: image1;
 }

 .middleImage {
   width: 100%;
   background: #673AB7;
   grid-area: image2;
 }

 .rightImage {
   width: 100%;
   background: #673AB7;
   grid-area: image3;
}

 .gridImagesText {
   display: grid;
   width: 100%;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-areas: 
   "header header header"
   "image1 image2 image3"
   ;
   gap: 10px;
 }