.mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    min-width: 300px;
}

.imageWithVideo{
    width: 100%;
    min-height: 530px;
}

.button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px;
    background: #1a1a1aa3;
    cursor: pointer;
    border-radius: 70%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}