.mainContent {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.image{
    height: 100%;
}

.button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px;
    background: #1a1a1aa3;
    cursor: pointer;
    border-radius: 70%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}